<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body style="background-color: rgb(206, 226, 92);">
    <h1 style="text-align: center;">Welcome to Contact Page</h1>
    <hr>
    <a href="/about">About</a>
    <a href="/">Index</a>
    <hr>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body style="background-color: rgb(206, 226, 92);">
    <h1 style="text-align: center;">Welcome to About Page</h1>
    <hr>
    <a href="/">Index</a>
    <a href="/contact">Contact</a>
    <hr>
    <h1 style="text-align: center;color: red;">{{n}}</h1>
</body>
</html>
</body>
</html>